#oms-krumo-output {
    color: #000;
    line-height: normal;
    text-align: left;
}

#oms-krumo-output .krumo-root {
    background: #fff;
}

#oms-krumo-output .krumo-version {
    display: none;
}
